.Button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}
.Button:hover{
    background-color: lightgreen;
    color: black;
}
.ButtonRed{
    background-color:red;
    color: white;
    font: inherit;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}
.ButtonRed:hover{
    background-color: salmon;
    color:black;
}